html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
    background-color: darkblue;
    height: 32px;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul {
    
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.logo-container {
    display: none;
    width: 106px;
    height: 80px;
    float: left;
    background-color: turquoise;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-right: 2rem;
    padding-left: 20px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-right: 20px;
}

.nav-left li, .nav-right li {
    line-height: 2;
}

.search-bar {
    height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: tomato;
}

.search-bar-left {
    display: flex;
    padding-left: 10px;
}

.search-bar-left li {
    line-height: 3;
    margin: 0 10px;
    text-transform: uppercase;
}

.li-readme{display: block;}

.magnifying-container i{
    padding: 15px;
}

.hidden-icon {
    display: none;
}

.cover-section{
    height: 400px;
    background-color: cornflowerblue;
    display: grid;
    grid-template-areas: "a a a b b"
                         "a a a c c"
    ;
}

.a{
    grid-area: a;
    background-color: aquamarine;
}

.b{
    grid-area: b;
    background-color: blueviolet;
}

.c {
    grid-area: c;
    background-color: brown;
}

.latest-news {
    max-width: 1150px;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 10px;
}

.grid-articles {
}

.grid-articles img {
    max-width: 100%;
}

.aside-div-container{
    display: flex;
    
}

.aside-div-container div{
    justify-content: space-between;
    width: 25%;
    height: 267px;
    margin-top: 2rem;
    background-color: darkblue;
}

.related-articles {
    max-width: 1150px;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-gap: 20px;
}

.grid-article-img {
    min-height: 17.25rem;
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/Google-Drive-down-368x276.jpg);
    background-repeat: no-repeat;
}

.article-header-container img {
    width: 96px;
    height: 96px;
}

.footer1{   
    height: 162px;
    background-color: darkkhaki;
}

.footer-social{
    width: 450px;
    padding-top: 25px;
    text-align: center;
    margin: 0 auto;
}

.footer-social i{
    padding: 10px;    
}

.footer2{
    height: 100px;
    background-color: rgb(122, 119, 70);
}

.footer1-ul-container {
    width: 450px;
    margin: 40px auto;
    text-align: center;
}

.footer1-ul-container li{
    display: inline-block;
    list-style-type: none;
    font-size: 12px;
    padding: 5px;
}

@media screen and (max-width:1200px){
    .li-readme{display: none;}
}
/* 1024px width break point */
@media screen and (max-width: 1024px){
    
    .logo-container{display: block;}
    .last-div{display: none;}
    .aside-div-container div{width: 33.3%;}
}
/* 815px breakpoint */
@media screen and (max-width: 815px) {
    .nav-right{display: none;}
}
/* 768 px width breakpoint */
@media screen and (max-width: 768px) {
    .search-bar {
        justify-content: flex-end;
    }
    .hidden-icon{
        display: inline-block;
    }
    .cover-section{
        height: 400px;
        background-color: cornflowerblue;
        grid-template-areas: "a a a a a"
                             "b b b b b"
                             "c c c c c"
        ;
    }
    .latest-news {
        grid-template-columns: 1fr;
    }

    .grid-articles {
        display: flex;
    }

    .grid-articles img {
        width: 75px;
        height: 75px;
    }
    .aside-div-container{
        display: block;
    }
    .aside-div-container div{
        width: 100%;
    }

    .related-articles {
        grid-template-columns: 1fr;
    }

}

/* 750PX WIDTH BREAKPOINT */
@media screen and (max-width: 750px) {
    nav{
        display: none;
    }
    .logo-container{height: 48px;}
    .search-bar-left{
        display: none;
    }
}

